
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/
**/.vs/
**/.vscode/
*.user
*.suo
*.userprefs
*.nupkg
*.swp
*.lock.json
*.dotCover
*.pidb
*.DS_Store

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

**/Resources/Raw/**/*.xml

**/[Pp]ackages/*
!.nuget/NuGet.Config
.nuget/
nuget.exe

node_modules/

*.pfx
*.publishsettings

.idea/
*.sln.iml

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store

*~

.localhistory/

MigrationBackup/

.ionide/

FodyWeavers.xsd

*.cer
*.pfx

publish/

_ReSharper.*
*.tmp
*.temp
*.TMP

*.codeanalysis
codeanalysis/

.vs/
.vsconfig

.dotnet/
tools/

func.exe
func.dll
func.pdb